{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "semi": true,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[@]", "^[public]", "^[./]", "^[../]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
