.memberCard .image {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.memberCard .nftImage {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.memberCard:hover .image {
  opacity: 0;
}

.memberCard:hover .nftImage {
  opacity: 1;
}
